# 1."DATA ANALYST"

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\bindu\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\bindu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\bindu\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\bindu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: sortedcontainers in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\bindu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\bindu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\bindu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\bindu\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\bindu\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\bindu\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\bindu\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\bindu\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\bindu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [1]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
search_job= driver.find_element_by_class_name("suggestor-input")
search_job

In [5]:
search_job.send_keys("Data Analyst")

In [6]:
search_locn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
search_locn.send_keys("Banglore")

In [8]:
search_btn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [9]:
search_btn.click()

In [10]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [11]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

job_titles1= []
for i in range(0, 10):
    job_titles1.append(job_titles[i])
    
job_titles1

['Flight data analyst (372)',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Looking For Data Analyst',
 'software developer & Testing / Business Analyst/Data Analyst/Python.',
 'Staff Business Data Analyst - FDP',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst (Digital Services Analytics)']

In [12]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="d81f32dd-64f5-45e1-b72d-d56fd5681d51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="16bb7dbb-8468-4116-b7cd-afe2ad133208")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="828bb9f6-a435-4296-b187-9fa5e3b6a713")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="7d6567b8-cd07-4d2d-af9e-c76409744e18")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="935ee3e5-fd58-49a7-a3e3-2ce1ef1590d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="ccc63826-60fe-4377-989b-6c4309d81c8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="027d0d97-5ec1-47b4-a696-399eb30151aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="6c5272a3-be85-403b-b1f6-2aee6dfc1d67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="ed7f4a09-30de-4ef9-81c3-d2158d5da49a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0597d90ddc0386cf7efa9a7a652a67d6", element="192a503f-af9c-486b-b6dc-5895ef75f2e6")>]

In [13]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

company_names1= []
for i in range(0, 10):
    company_names1.append(company_names[i])
    
company_names1

['NEST DIGITAL PRIVATE LIMITED',
 'Capco',
 'Mobile Premier League',
 'Trellance',
 'SECRET TECHNOLOGIES INDIA VMS GROUP',
 'Intuit Inc.',
 'K12 Techno Services Pvt Ltd',
 'Flipkart',
 'Flipkart',
 'Dell']

In [14]:
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [15]:
location= []
for i in location_tags:
    location.append(i.text)
location[0:10]

location1= []
for i in range(0, 10):
    location1.append(location[i])
    
location1

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Ahmedabad, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
experience_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(experience_tags)

19

In [17]:
experience= []
for i in experience_tags:
    experience.append(i.text)
experience[0:10]

experience1= []
for i in range(0, 10):
    experience1.append(experience[i])
    
experience1

['0-1 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '0-4 Yrs',
 '5-7 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '1-6 Yrs']

In [18]:
len(job_titles1),len(company_names1),len(experience1),len(location1)

(10, 10, 10, 10)

In [19]:
jobs= pd.DataFrame()
jobs["Job Title"]= job_titles1
jobs["Company"]= company_names1
jobs["Experience"]= experience1
jobs["Location"]= location1
jobs

,Job Title,Company,Experience,Location
0,Flight data analyst (372),NEST DIGITAL PRIVATE LIMITED,0-1 Yrs,Bangalore/Bengaluru
1,Senior Data Analyst,Capco,4-8 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Mobile Premier League,3-6 Yrs,Bangalore/Bengaluru
3,Looking For Data Analyst,Trellance,0-2 Yrs,"Ahmedabad, Bangalore/Bengaluru"
4,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,0-4 Yrs,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
5,Staff Business Data Analyst - FDP,Intuit Inc.,5-7 Yrs,Bangalore/Bengaluru
6,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,4-9 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Flipkart,3-6 Yrs,Bangalore/Bengaluru
8,Senior Data Analyst,Flipkart,3-7 Yrs,Bangalore/Bengaluru
9,Senior Data Analyst (Digital Services Analytics),Dell,1-6 Yrs,Bangalore/Bengaluru

# 2. "DATA SCIENTIST"

In [20]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [21]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [22]:
url='https://www.naukri.com/'
driver.get(url)

In [23]:
search_job= driver.find_element_by_class_name("suggestor-input")
search_job

In [24]:
search_job.send_keys("Data Scientist")

In [25]:
search_locn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [26]:
search_locn.send_keys("Banglore")

In [27]:
search_btn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [28]:
search_btn.click()

In [29]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="ebcdab6e-a5da-4d13-a5db-40a09f267cf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="79ec58e9-043c-42cd-8203-a28d673a5985")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="03be2535-66b8-4bb3-bcc3-18270d823148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="cd3bc6e8-3159-4cea-acdc-45bd44a99dcc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="da98affd-62f0-4d9f-9abf-21a3598de354")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="0622ee85-6232-46da-9c1b-27a6807fd68e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="a7f5de47-8ade-4509-af91-d3c21de62d45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="5846069c-3aaf-4778-beff-115af5b819c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="25cabfe0-ef94-40ad-9b38-a89f17aa9823")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="53109f24-a21f-44dd-9d31-019b99d3e9db")>]

In [30]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:10]

job_titles1= []
for i in range(0, 10):
    job_titles1.append(job_titles[i])
    
job_titles1

['Data Scientist / Analyst',
 'Senior Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Consultant - Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Principal Data Scientist',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist']

In [31]:
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [32]:
job_location= []
for i in location_tags:
    job_location.append(i.text)
job_location[0:10]

job_location1= []
for i in range(0, 10):
    job_location1.append(job_location[i])
    
job_location1

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH during Covid)',
 'Navi Mumbai, New Delhi, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Bangalore/Bengaluru']

In [33]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="84fd881e-64f8-4631-8e5d-9c4a72d5f37f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="4ee83fdc-7a30-48fa-854a-56a34d754fc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="2a151861-9a8b-4b3c-81ae-7687acda897b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="ef8dc96b-e9bb-4574-8e07-c213c42a11ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="d64e7941-3975-427e-a614-672072c64acf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="f63b919c-7da7-4285-8062-10bf32351852")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="4d3557eb-0c6b-49f4-9ca5-a5c83ce533e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="c276b051-49a8-4a08-8510-ab0cb3d84d98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="7f6a8075-78e4-45b8-8d07-a6d1524a65f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="6d67edc06aa873616a669a4cdd531a78", element="e8f68923-f0fc-4601-a74d-13509186d91c")>]

In [34]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

company_names1= []
for i in range(0, 10):
    company_names1.append(company_names[i])
    
company_names1

['open data fabric',
 'newscorp',
 'Swiggy',
 'Concentrix',
 'Flexing It',
 'VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED',
 'newscorp',
 'VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED',
 'NTT Data',
 'Titan']

In [35]:
len(job_titles1),len(company_names1),len(job_location1)

(10, 10, 10)

In [36]:
jobs= pd.DataFrame()
jobs["Job Title"]= job_titles1
jobs["Company"]= company_names1
jobs[" Job Location"]= job_location1
jobs

,Job Title,Company,Job Location
0,Data Scientist / Analyst,open data fabric,Bangalore/Bengaluru
1,Senior Data Scientist,newscorp,Bangalore/Bengaluru
2,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore/Bengaluru
3,Forecasting Analyst/ Data Scientist (US Client),Concentrix,"Gurgaon/Gurugram, Bangalore/Bengaluru\n(WFH du..."
4,Consultant - Junior Data Scientist,Flexing It,"Navi Mumbai, New Delhi, Bangalore/Bengaluru"
5,Data Scientist,VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
6,Data Scientist,newscorp,Bangalore/Bengaluru
7,Principal Data Scientist,VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED,"Chennai, Bangalore/Bengaluru\n(WFH during Covid)"
8,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
9,Junior Data Scientist,Titan,Bangalore/Bengaluru

# 3."DATA SCIENTIST" vth salary filter

In [37]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [38]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [39]:
url='https://www.naukri.com/'
driver.get(url)

In [40]:
search_job= driver.find_element_by_class_name("suggestor-input")
search_job

In [41]:
search_job.send_keys("Data Scientist")

In [42]:
search_locn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [43]:
search_locn.send_keys("Delhi/NCR")

In [44]:
search_btn= driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [45]:
search_btn.click()

In [46]:
salary_check= driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [47]:
salary_check.click()

In [48]:
title_tags= driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="5640d70a-4d27-46cf-87f5-968d5a76413e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="a4cb7d7b-5bca-47e5-b006-47a42b748685")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="d4a268b4-a8ad-4d3a-9d7e-6219d21ec892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="2bea8a76-93d6-405d-907b-2a51f162636c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="c7223e81-fe65-4924-a688-de59a485de31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="99ad03eb-a000-43d1-82db-f7531557bd66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="6a42ee53-24d0-418e-bb6b-95c27bbfd00c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="b27171e1-1491-48f9-b53a-92059b9f1979")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="23a9201f-8765-4b65-8f07-bc60db6f80c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="3e5fd012-d866-4277-8d78-e14480600f5b")>]

In [49]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)

job_titles1= []
for i in range(0, 10):
    job_titles1.append(job_titles[i])
    
job_titles1

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Only Fresher / Python Data Scientist / Trainee / Analytics - MNC Jobs',
 'Data Scientist',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Hiring For Data Scientist',
 'Lead Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Senior Data Scientist']

In [50]:
location_tags= driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location_tags)

20

In [51]:
job_location= []
for i in location_tags:
    job_location.append(i.text)

job_location1= []
for i in range(0, 10):
    job_location1.append(job_location[i])
    
job_location1

['Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)\n(WFH during Covid)',
 'Noida, New Delhi, Gurgaon/Gurugram',
 'Noida, Gurgaon/Gurugram',
 'Noida',
 'Noida',
 'Noida, Pune, Mumbai (All Areas)',
 'Delhi / NCR\n(WFH during Covid)',
 'Noida, Delhi / NCR',
 'Delhi']

In [52]:
company_tags= driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="d001d193-f07f-4917-bf90-eff6ac9aa415")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="85a32d1c-ba40-417f-908e-433e6e7d3498")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="8a1d7683-a2ca-4acf-aaaa-df2509badab6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="b104bbf7-fabd-4f23-a32c-60e249305c40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="b72ee5a8-1d99-44cc-a910-6eaa873e19d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="012aa4c7-c3f1-47b6-92c7-be6e0ecd11c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="be35972c-168e-4496-8d9b-cc2fb1212c6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="f57734cf-14cf-4824-ac05-af36056a594b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="0d4026bd-a360-48e4-8909-08fef727c053")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b20a05e339cdd3bf65323ef51dcd21f5", element="891cdf05-7ad6-42e4-bbd5-879e931f7546")>]

In [53]:
company_names = []
for i in company_tags:
    company_names.append(i.text)

company_names1= []
for i in range(0, 10):
    company_names1.append(company_names[i])
    
company_names1

['NTT Data',
 'Sejal Consulting Hub',
 'GABA Consultancy services',
 'Optum',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Lumiq.ai',
 'Indihire HR Consultants Private Limited',
 'HCL',
 'iNICU']

In [54]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(exp_tags)

20

In [55]:
experience= []
for i in exp_tags:
    experience.append(i.text)

experience1= []
for i in range(0, 10):
    experience1.append(experience[i])
    
experience1

['0-0 Yrs',
 '0-3 Yrs',
 '0-0 Yrs',
 '2-6 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '1-5 Yrs']

In [56]:
len(job_titles1),len(company_names1),len(experience1),len(job_location1)

(10, 10, 10, 10)

In [57]:
jobs= pd.DataFrame()
jobs['Job Title']= job_titles1
jobs['Company']= company_names1
jobs['Experience']= experience1
jobs['Location']= job_location1
jobs

,Job Title,Company,Experience,Location
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,0-0 Yrs,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ..."
1,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,0-3 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
2,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
3,Data Scientist,Optum,2-6 Yrs,"Noida, Gurgaon/Gurugram"
4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,Noida
6,Hiring For Data Scientist,Lumiq.ai,2-7 Yrs,"Noida, Pune, Mumbai (All Areas)"
7,Lead Data Scientist,Indihire HR Consultants Private Limited,2-4 Yrs,Delhi / NCR\n(WFH during Covid)
8,Urgent Requirement || Data Scientist || Noida,HCL,3-8 Yrs,"Noida, Delhi / NCR"
9,Senior Data Scientist,iNICU,1-5 Yrs,Delhi

# 4.SUNGLASSES

In [58]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [59]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [60]:
url='https://www.flipkart.com/'
driver.get(url)

In [61]:
search_product= driver.find_element_by_class_name("_3704LK")
search_product

In [62]:
search_product.send_keys("Sunglasses")

In [63]:
search_btn= driver.find_element_by_class_name("_34RNph")
search_btn

In [64]:
search_btn.click()

In [65]:
brand = []
description= []
price= []
discount= []
for page in range(0, 3):
    for i in driver.find_elements_by_class_name("_2WkVRV"):
        brand.append(i.text)
    for j in driver.find_elements_by_class_name("IRpwTa"):
        description.append(j.text)
    for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(k.text)
    for l in driver.find_elements_by_class_name("_3Ay6Sb"):
        discount.append(l.text)
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:  
        driver.get(nxt_button[0].get_attribute('href'))

In [66]:
glasses= pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100],'Discount':discount[:100]})
glasses

,Brand,Description,Price,Discount
0,PC STAR,"Riding Glasses, Gradient, Polarized, UV Protec...",349,76% off
1,ROYAL SON,"UV Protection Over-sized, Retro Square Sunglas...",614,69% off
2,SRPM,UV Protection Wayfarer Sunglasses (50),148,88% off
3,Elligator,UV Protection Round Sunglasses (54),208,91% off
4,PIRASO,UV Protection Aviator Sunglasses (54),179,88% off
...,...,...,...,...
95,ROYAL SON,"Polarized, UV Protection Round Sunglasses (52)",709,70% off
96,hipe,"Mirrored, Gradient, Riding Glasses Round Sungl...",139,59% off
97,NuVew,UV Protection Sports Sunglasses (62),277,75% off
98,hipe,UV Protection Aviator Sunglasses (Free Size),129,82% off
99,ROYAL SON,"Polarized, UV Protection Rectangular Sunglasse...",649,68% off

# 5. IPHONE 11

In [71]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [72]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [73]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
driver.get(url)

In [74]:
rating= []
review= []
totalreview= []
for page in range(0, 11):
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rating.append(i.text)
    for j in driver.find_elements_by_class_name("_2-N8zT"):
        review.append(j.text)
    for k in driver.find_elements_by_class_name("t-ZTKy"):
        totalreview.append(k.text)
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:  
        driver.get(nxt_button[0].get_attribute('href'))

In [75]:
iphones= pd.DataFrame({'Rating':rating[:100],'Review':review[:100],'Totalreview':totalreview[:100]})
iphones

,Rating,Review,Totalreview
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Perfect product!,Nice
96,5,Fabulous!,MD sufiyan rider Owsm\nMobile nd battery mast ...
97,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
98,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
99,4,Nice product,If you are looking for a premium phone under 5...

# 6.FLIPKART SNEAKERS

In [76]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [77]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [78]:
url='https://www.flipkart.com/'
driver.get(url)

In [79]:
search_box= driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_box

In [80]:
search_box.send_keys("sneakers")

In [81]:
search_btn= driver.find_element_by_class_name("L0Z3Pu")
search_btn

In [82]:
search_btn.click()

In [83]:
brand = []
description= []
price= []
discount= []
for page in range(0, 3):
    for i in driver.find_elements_by_class_name("_2WkVRV"):
        brand.append(i.text)
    for j in driver.find_elements_by_class_name("IRpwTa"):
        description.append(j.text)
    for k in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
        price.append(k.text)
    for l in driver.find_elements_by_class_name("_3Ay6Sb"):
        discount.append(l.text)
        nxt_button=driver.find_elements_by_xpath("//a[@class='_1LKTO3']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:  
        driver.get(nxt_button[0].get_attribute('href'))

In [84]:
sneakers= pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100],'Discount':discount[:100]})
sneakers

,Brand,Description,Price,Discount
0,HRX by Hrithik Roshan,Men White Printed Sneakers Sneakers For Men,"2,049",46% off
1,RapidBox,Sneakers For Men,590,40% off
2,Kzaara,Sneakers For Men,209,79% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,469,70% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,209,83% off
...,...,...,...,...
95,RapidBox,Sneakers For Men,590,46% off
96,WHITEHUB,Sneakers For Men,399,57% off
97,Chevit,Super 445 Fashion Sneakers For Men,349,46% off
98,Magnolia,Sneakers For Men,327,76% off
99,RapidBox,Sneakers For Men,590,60% off

# 7.SNEAKERS MYNTRA

In [85]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [86]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [87]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [88]:
price_tag=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_tag

In [89]:
price_tag.click()

In [90]:
color_tag=driver.find_element_by_xpath('//li[@class="colour-listItem"]')

In [91]:
color_tag.click()

In [92]:
brand = []
description= []
price= []
for page in range(0, 2):
    for i in driver.find_elements_by_class_name("product-brand"):
        brand.append(i.text)
    for j in driver.find_elements_by_class_name("product-product"):
        description.append(j.text)
    for k in driver.find_elements_by_xpath('//div[@class="product-price"]'):
        price.append(k.text)
        nxt_button=driver.find_elements_by_xpath("//a[@rel='next']")
    try:
        driver.get(nxt_button[1].get_attribute('href'))
    except:  
        driver.get(nxt_button[0].get_attribute('href'))

In [93]:
msneakers= pd.DataFrame({'Brand':brand[:100],'Description':description[:100],'Price':price[:100]})
msneakers

,Brand,Description,Price
0,Puma,Electrify Nitro Running Shoes,Rs. 9999
1,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
2,Nike,Men Winflo 7 Running Shoes,Rs. 7995
3,ALDO,Men Leather Driving Shoes,Rs. 12999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
...,...,...,...
95,Tommy Hilfiger,Men Cleated Leather Sneakers,Rs. 8599
96,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
97,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)
98,Saint G,Women High-Top Heeled Boots,Rs. 12093Rs. 13900(13% OFF)
99,Saint G,Embellished Leather Block Heeled Boots,Rs. 7869Rs. 12900(39% OFF)

# 8.AMAZON LAPTOPS

In [15]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [16]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [17]:
url='https://www.amazon.in/'
driver.get(url)

In [18]:
search_box= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_box

In [19]:
search_box.send_keys("Laptops")

In [20]:
search_btn= driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [21]:
search_btn.click()

In [22]:
lap_tags=driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(lap_tags)
lap_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="1992979e-8eb3-46c5-83ed-8b8aa26e3f66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="95fac89c-4097-470d-aae9-84fb0a490734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="066298bc-2aa9-46a7-880e-a4b62395dce9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="3d2204f7-95b7-40e1-9f41-9a9bf77e3885")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="f65dc43d-ca1f-4925-a625-c064360a2b73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="aea4bc3a-4877-45c5-a6e3-7762b68ca077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="44133da6-6b90-47df-a69a-5f0279ba759d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="180ec72b-9e15-453c-b0e5-57a6f2cd4284")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="846d7acb-7266-4239-8cd3-fa0da3aa977b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="85f0f009-b555-4e98-b69d-d530a96101f2")>]

In [23]:
lap_names = []
for i in lap_tags:
    lap_names.append(i.text)
lap_names1 = []
for i in range(0, 10):
    lap_names1.append(lap_names[i])
lap_names1

['Microsoft Surface Go 10th Gen Intel Core i5-1035G1 12.4 inches Touchscreen Business Laptop (8GB/128GB SSD/Windows 10 Home in S Mode/UHD Graphics/Platinum/1.110 kg, 25% Off on Microsoft 365), THH-00023',
 'Microsoft Surface GO 3 8VA-00013 10.5" (26.67 cms) Laptop (Intel Pentium T6600 Processor/8GB/128GB SSD/Windows 11 Home), Platinum',
 'Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01BCIN',
 "Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD Thin & Light Laptop (4GB/256GB HDD/Windows 11/MS Office 2021/Platinum Grey/1.5Kg), 81WH007KIN",
 'Dell New Inspiron 3511 Laptop Intel i3-1115G4, 8GB DDR4, 1TB, Win 11 + MSO\'21, Integrated Graphics, 15.6" (39.61 cms) Anti Glare FHD Display, Carbon Black (D560646WIN9B), 1.8Kgs',
 'ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11th Gen 14-inch (35.56 cms) FHD T&L Laptop (8GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris X Graphics/Pine Grey/1.17 kg), UX425EA-BM501TS',
 'HP 14 10th Gen Intel Core i5-10210U 14 inches HD Laptop (8GB/512GB SSD/Windows 10/MS Office/Windows 10/Jet Black/1.5 kg), 14-ck2018tu',
 '',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01E9IN',
 'HP Chromebook 14 Intel Celeron N4020-4GB SDRAM/64GB eMMC + 256GB Expandable Storage 14inch(35.6 cm) Thin & Light Touchscreen Laptop (Chrome OS/B&O/Google Assistant/BL Keyboard/1.46 kg),14a-na0003TU']

In [24]:
price_tags=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
price_tags

[<selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="bbffd046-12a9-4acd-8514-1b09813f3757")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="34650770-ae67-49a3-946e-c6a3560204dd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="3f307803-5e35-4f55-a333-c397ea1fd969")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="6e30ff69-7784-4253-b646-219cc51b274c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="85b7d41c-7a73-4dec-85f7-07fc4b0af193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="821df958-c69b-4d5e-8276-ac3beb702934")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="11c6472f-2015-4f34-bf83-235fd7530c3f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="5efe2823-70dc-46f1-acce-9452dc19bab7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="3a440e39-dccb-45b0-b86e-68b8a2c3b1d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="338e5338-d8ca-4353-b949-e06e3f192d6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="968327bb-4ceb-4d94-98e5-297e0a4f447b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="f352c76f-e331-4572-bf6d-2c5d86ce5319")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="d999ce7a-8bc9-417f-a6f2-b529bda83dd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="7fa510a0-3878-4758-b918-15aa071f2b0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="d3876044-f8d9-41f9-a3da-6e1fe74703f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="0ffaf9b2-3ad0-4a77-8cc7-16a7bba42df2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="a9ea7517-f7dc-4cae-bb30-b79f7f9e3f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="22293240-09c5-484b-8dc0-f11433162243")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="56012641-939a-45ab-ae9b-96fda622190a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="fa377a90-f4f7-4c24-8423-a9887ae90db8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="e09c3c97-7c41-49e7-8e44-7b74d51ce5af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="719d519f-bea3-4c3e-a80e-49d16887ecce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="f08b5f8e-a9ad-483f-b23c-b1c936011258")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="2c6db9fc-b906-47e1-a44c-706fa4585f0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="c383cee6-60f8-41d4-83fc-3ddb1596db52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="eedfaa34-5853-4698-8707-e341ccbe07ad")>]

In [25]:
prices = []
for i in price_tags:
    prices.append(i.text)
prices1 = []
for i in range(0,10):
    prices1.append(prices[i])
prices1

['63,490',
 '50,990',
 '36,990',
 '29,490',
 '36,990',
 '89,999',
 '88,990',
 '55,000',
 '',
 '36,990']

In [26]:
rating_tags=driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
rating_tags

[<selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="1b397e2c-835c-4c9d-9489-f2578dac0f5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="f8003d7b-0186-45fa-bfd9-8a2b37e381ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="dbd44a15-0549-450e-b504-212608b31aad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="50b14777-1cc9-4ea9-bd10-132d2402bb93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="4817349a-1d74-456a-b321-f5dc6d94ff5c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="3493c2ce-7d1a-4772-bf24-3867280c965d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="6c276fce-20fe-49da-a3f8-c4cc1968f84e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="bf43bc1e-1bdb-4bc0-9126-2b46fd9e9f07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="16ef000a-b964-4164-8dcf-14b7f07bd97b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="0b4b268a-818c-4365-a768-1735749f5aee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="1c4c1162-7ed6-47c5-9cf4-9d758b53cd16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="d385d6c8-ce85-4562-ba73-9137798da583")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="a905ff4e-7371-4eaa-b288-346ed814257e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="33bdd02b-9278-4441-acab-ed27669784d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="2d3694e3-ce8a-4b0d-a8be-e347723bcaf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="54b26403-365f-4325-af40-cc219c593069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="b7b468e0-7176-4a8c-9563-ef4d8c68b273")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="8207b23a-4e85-4898-a0a6-8b0671fb8dcb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="b412f9ed-1b0c-4a43-93fd-c559014f2c1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="eb218d12-7f38-4d01-afc0-9d999021ba75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="c18fc3e3-5ab9-40ee-b939-7f6857f9e6f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="86be6a82-e588-427e-8878-475e23b75f58")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="01183917-7b70-49a8-9c51-234f36449ce8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="390d5c55-0281-4ca8-b2de-7a3019e5d6a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="b312ccdf-4a16-4956-8c67-a8b2a68726c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="53f89f8f395a681d60155f094eab4494", element="5d81e33a-3317-4dde-b2b3-f45684723024")>]

In [27]:
ratings = []
for i in rating_tags:
    ratings.append(i.text)
ratings1 = []
for i in range(0,10):
    ratings1.append(ratings[i])
ratings1

['87', '18', '157', '517', '548', '85', '452', '1,742', '', '296']

In [28]:
len(lap_names1),len(prices1),len(ratings1)

(10, 10, 10)

In [29]:
laps= pd.DataFrame()
laps['Names']= lap_names1
laps['Price']= prices1
laps['Ratings']= ratings1
laps

                                               Names   Price Ratings
0  Microsoft Surface Go 10th Gen Intel Core i5-10...  63,490      87
1  Microsoft Surface GO 3 8VA-00013 10.5" (26.67 ...  50,990      18
2  Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...  36,990     157
3  Lenovo IdeaPad 3 Intel Celeron N4020 14'' HD T...  29,490     517
4  Dell New Inspiron 3511 Laptop Intel i3-1115G4,...  36,990     548
5  ASUS ZenBook 14 (2020) Intel Core i5-1135G7 11...  89,999      85
6  HP 14 10th Gen Intel Core i5-10210U 14 inches ...  88,990     452
7                                                     55,000   1,742
8  Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...
9  HP Chromebook 14 Intel Celeron N4020-4GB SDRAM...  36,990     296

# 9.AMBITION BOX JOBS

In [94]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [95]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [96]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [97]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
search_job

In [98]:
search_job.send_keys("Data Scientist")

In [102]:
title_tags= driver.find_elements_by_xpath('//a[@class="title noclick"]')
len(title_tags)
title_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="09270326-203d-4e18-baea-d38e0644d251")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="67fb8eb0-9d7d-46c6-9bc7-1dc3e515a22b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="814dc420-99ae-4ac0-88a0-5b697d1a90c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="e91b35f9-9a56-40d5-9d16-4112f6e797e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="456d211d-544c-464d-85bb-56cadef02310")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="79e241b8-f2ec-4902-bfd5-c30a27dd5ade")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="0bfde99e-693f-4186-9ca6-633e82b3ce6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="aa260545-6fc3-4661-b6c6-9a2768a18bef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="88528f41-0ae5-4268-a0e9-8b0fd45d64a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="e3ee17fd-866e-4582-88d9-5a2856a51e1c")>]

In [103]:
job_titles = []

for i in title_tags:
    job_titles.append(i.text)

job_titles1= []
for i in range(0, 10):
    job_titles1.append(job_titles[i])
    
job_titles1

['Data Scientist',
 'Data Scientist',
 'Amazon - Senior Data Scientist (10-15 yrs)',
 'JP Morgan Chase - Data Scientist - Risk Analytics - Derivatives Domain (0-4 yrs)',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Senior Data Scientist',
 'JP Morgan Chase - Data Scientist (4-8 yrs)',
 'Data Scientist - Manufacturing Intelligence',
 'AVP / VP Data Scientist (Model Validation)',
 'Data Scientist']

In [104]:
company_tags= driver.find_elements_by_xpath('//div[@class="company-info"]')
company_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="94fb6a32-d38a-4e89-9479-0e1acddf6732")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="a102cad5-3f18-4978-9f65-b81c2ca24a0e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="a84bb2fe-d7a2-43e9-bf76-d0a985718764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="138a10c6-1525-4c00-b6fd-99cb55a89b9d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="be0d93e3-5f17-4b64-b136-5a6c5524eb32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="6323d4a4-2bd7-46b3-a2d9-520532c0745e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="ede42544-dfa2-485f-afaf-436e22b20345")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="ce525ba8-f7b2-404e-8d26-32b2354dfbdb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="4a1a276a-b717-4fab-835e-6e7d1811c5c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="b1a5eae1-e7e5-4c58-bc53-2698f1588c59")>]

In [105]:
company_names = []
for i in company_tags:
    company_names.append(i.text)

company_names1= []
for i in range(1, 11):
    company_names1.append(company_names[i])
    
company_names1

['HP India Sales Private Limited\n4.3\n(3.1k Reviews)',
 'Amazon Development Centre (India) Pvt. Ltd.\n4.2\n(10.6k Reviews)',
 'Amazon\n4.2\n(10.6k Reviews)',
 'JP Morgan Chase\n4.1\n(2.4k Reviews)',
 'Concentrix Daksh Services India Private Limited.\n4.1\n(11.1k Reviews)',
 'Walmart Labs\n4.1\n(7.3k Reviews)',
 'JP Morgan Chase\n4.1\n(2.4k Reviews)',
 'PFIZER LIMITED\n4.2\n(1.3k Reviews)',
 'J.P. Morgan Services India Private Limited\n4.1\n(2.4k Reviews)',
 'Shell India Markets Private Limited\n4.2\n(829 Reviews)']

In [106]:
rating_tags=driver.find_elements_by_class_name("rating-wrapper")
rating_tags

[<selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="48bf4dbc-6a2e-446b-9693-1f93cf18109f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="817383be-e497-404c-b1d0-36154d0e8226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="e6486288-2e93-4d01-9294-fdb29e64898c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="e140bf73-7ace-43d4-9346-38093b74c3ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="3e5acce1-e78e-49d2-9ed4-d5f2e7353765")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="604f2f9a-3d45-4471-a843-e1a306328b8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="9b6522d6-33a2-4466-8829-f847cd821388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="fe04cacb-41e9-433c-ae59-9edf2427a74c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="f6bcbfd3-5898-44fe-9b2c-c621db2acc90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="91570495-d2a4-47c7-b4f7-8b6a0e12b547")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="dda4989e-5cc3-4f7f-9a47-1f092e6b6051")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="d408d4c0-8c7c-46d1-80e4-dd304da8e6be")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="2dcec1df-b692-480c-89da-172069dcd677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="93f8aee823599569119d5b1e404ce89f", element="601fc92d-cc26-4129-affd-8f3e9b726339")>]

In [107]:
job_ratings= []
for i in rating_tags:
    job_ratings.append(i.text)

job_ratings1= []
for i in range(4, 14):
    job_ratings1.append(job_ratings[i])
    
job_ratings1

['4.3\n(3.1k Reviews)',
 '4.2\n(10.6k Reviews)',
 '4.2\n(10.6k Reviews)',
 '4.1\n(2.4k Reviews)',
 '4.1\n(11.1k Reviews)',
 '4.1\n(7.3k Reviews)',
 '4.1\n(2.4k Reviews)',
 '4.2\n(1.3k Reviews)',
 '4.1\n(2.4k Reviews)',
 '4.2\n(829 Reviews)']

In [108]:
len(job_titles1),len(company_names1),len(job_ratings1),

(10, 10, 10)

In [109]:
jobs= pd.DataFrame()
jobs['Job Title']= job_titles1
jobs['Company']= company_names1
jobs['Ratings']= job_ratings1
jobs

,Job Title,Company,Ratings
0,Data Scientist,HP India Sales Private Limited\n4.3\n(3.1k Rev...,4.3\n(3.1k Reviews)
1,Data Scientist,Amazon Development Centre (India) Pvt. Ltd.\n4...,4.2\n(10.6k Reviews)
2,Amazon - Senior Data Scientist (10-15 yrs),Amazon\n4.2\n(10.6k Reviews),4.2\n(10.6k Reviews)
3,JP Morgan Chase - Data Scientist - Risk Analyt...,JP Morgan Chase\n4.1\n(2.4k Reviews),4.1\n(2.4k Reviews)
4,Forecasting Analyst/ Data Scientist (US Client),Concentrix Daksh Services India Private Limite...,4.1\n(11.1k Reviews)
5,Senior Data Scientist,Walmart Labs\n4.1\n(7.3k Reviews),4.1\n(7.3k Reviews)
6,JP Morgan Chase - Data Scientist (4-8 yrs),JP Morgan Chase\n4.1\n(2.4k Reviews),4.1\n(2.4k Reviews)
7,Data Scientist - Manufacturing Intelligence,PFIZER LIMITED\n4.2\n(1.3k Reviews),4.2\n(1.3k Reviews)
8,AVP / VP Data Scientist (Model Validation),J.P. Morgan Services India Private Limited\n4....,4.1\n(2.4k Reviews)
9,Data Scientist,Shell India Markets Private Limited\n4.2\n(829...,4.2\n(829 Reviews)

# 10.AMBITION BOX SALARIES

In [44]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [45]:
driver= webdriver.Chrome(r'C:/Users/bindu/Downloads/chromedriver_win32/chromedriver.exe')
driver

In [46]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [47]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/input')
search_job

In [48]:
search_job.send_keys("Data Scientist")

In [49]:
search_job.click()

In [50]:
company_tags= driver.find_elements_by_class_name('name')
company_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="f82f7b92-4f8c-4d8b-8566-b93369af4469")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="e0be865f-002d-42f2-83f6-3662e62af56b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="370f5916-d24f-463f-9eaf-306201c79d0b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="aba67361-bfbb-45ba-b083-70bebe236925")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="bc22e10e-e015-45fb-9602-6ea47c12f1c4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="d661b893-ec45-4103-9a18-42e3cf92b689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="fe49801e-4086-4669-9d4b-afbf7155feb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="96938f48-7812-4ca2-a223-a35dec51421c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="de63abce-3c99-4655-8bdf-342630e55567")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="2f934a81-d5ae-40f9-a358-e65ebeafec59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="7199c789-20fa-44fe-a473-edd7521f5df6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="151df726-049b-49e3-aff1-b657ac5c929f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="952739bd-2a86-4410-b85d-423c6f6ea227")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="57a87c7d-6973-4dca-b99c-bdee0ba41c01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="5de274f9-b5d1-4e9b-a91d-59bb1f77e6a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="0f525376-8eb0-4e90-be1d-d027a7c48214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="f7b991f7-1745-4252-b066-47c1d4ae26ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1bdfca7d-ce4e-4a6f-a596-702add712717")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="db90d283-40cc-4d08-9b27-c719fc7d6cf6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="b2747843-544a-4dd8-a500-fb1d5d7f4ed1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="eeaf3118-f2e5-4309-b34c-1d613dc861cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="bea43078-8760-4d04-b0d6-df8213c5a3c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="554b4e55-5cef-4c6d-97e9-8e1547c90971")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="3ea1bc3d-5e3f-4710-a35e-b9d891b323d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="30ee86e6-2635-442d-840b-701687946f04")>]

In [51]:
company_names = []
for i in company_tags:
    company_names.append(i.text)
company_names
company_names1= []
for i in range(0, 10):
    company_names1.append(company_names[i])
company_names1

['Google',
 'Microsoft Corporation',
 'Goldman Sachs',
 'Tekion',
 'Flipkart',
 'PayPal',
 'Servicenow Software Development India',
 'Amazon',
 'Walmart',
 'Arcesium']

In [52]:
exp_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="e6c5f18b-c1db-4052-bf16-b495606fd3af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="4d54198a-ce84-465a-8ecf-8b48cbdae8a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="330fa820-705b-4083-b0d7-589992f12af3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1664fd29-1dd5-4e1d-a345-dc649b5649b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1426901b-f2be-402a-aaad-c543e1ebd71b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="88f99551-8b8e-4b01-8f13-d776508508b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="d1ef5ff6-0855-4e39-8500-3312c42b64c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1fb7e5d5-863e-408e-b5ea-5480b5912daa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="e572c52a-77f9-4407-9593-cde490913792")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="d7573511-243b-4f3e-bd14-5df6f5cecbf2")>]

In [53]:
experience= []
for i in exp_tags:
    experience.append(i.text)
experience
experience1= []
for i in range(0, 10):
    experience1.append(experience[i])
experience1

['1 yr exp',
 '1-4 yrs exp',
 '2 yrs exp',
 '3-4 yrs exp',
 '1-4 yrs exp',
 '1-2 yrs exp',
 '2-4 yrs exp',
 '1-4 yrs exp',
 '1-4 yrs exp',
 '1-2 yrs exp']

In [54]:
sal_tags=driver.find_elements_by_xpath('//div[@class="result-col salary-values"]')
sal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1253290d-a7cb-47b2-8476-9dcc849b39e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="1218d439-5fd1-4d32-b8e6-676fe290112c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="8c0caaee-4d53-4cde-a3b8-084c881d9f27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="14555026-23be-4691-ac01-93efdb06207a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="281af976-f2e4-4870-b142-2816d9741b67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="ddea8a55-aa08-41cf-a981-566d0ea7b5d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="25e3c1a6-b6d1-4dcc-a30e-96231e823980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="7c28c16e-05d8-4cc4-adbe-b865e4e8a141")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="a721514c-2cae-442e-9ab1-896d04c629cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="3e925667-6be4-434e-994d-b7322f720427")>]

In [56]:
sal_record= []
for i in sal_tags:
    sal_record.append(i.text)
sal_record1= []
for i in range(0, 10):
    sal_record1.append(sal_record[i])
sal_record1

[' 26.6 Lpa\n(10.4 - 40) Lpa',
 ' 23.3 Lpa\n(13 - 45) Lpa',
 ' 21.2 Lpa\n(12 - 30) Lpa',
 ' 21.1 Lpa\n(12.5 - 32) Lpa',
 ' 21.1 Lpa\n(7.5 - 31) Lpa',
 ' 20.1 Lpa\n(12 - 30) Lpa',
 ' 19.6 Lpa\n(12 - 26) Lpa',
 ' 19.4 Lpa\n(8 - 43) Lpa',
 ' 19.1 Lpa\n(10.1 - 32.5) Lpa',
 ' 18.7 Lpa\n(12 - 30) Lpa']

In [57]:
avg_tags=driver.find_elements_by_xpath('//p[@class="average"]')
avg_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="009783d0-77c3-4dfb-94ad-9e44b1b1800d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="957d0892-3052-4956-99ab-dfbbd05f33ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="29871c1e-4b0c-4b9f-96c9-1a240a121581")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="feef62b3-76bb-489d-9318-8600d85679bc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="c20c3d9e-3bb7-442b-ad2a-042e0aa7a972")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="2fd8019e-3017-4985-b654-9843aa78f521")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="ec56ff79-51bc-43c6-bbfd-f0729b946034")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="8f48a991-5f7f-4125-805b-d9f35a5dc1c1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="903e5552-1e0d-4e43-93a6-a7436a5e6374")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="4a94129a-cc21-4e63-a183-323765c9ade4")>]

In [58]:
avg_sal= []
for i in avg_tags:
    avg_sal.append(i.text)
avg_sal
avg_sal1= []
for i in range(0, 10):
    avg_sal1.append(avg_sal[i])
avg_sal1

[' 26.6 Lpa',
 ' 23.3 Lpa',
 ' 21.2 Lpa',
 ' 21.1 Lpa',
 ' 21.1 Lpa',
 ' 20.1 Lpa',
 ' 19.6 Lpa',
 ' 19.4 Lpa',
 ' 19.1 Lpa',
 ' 18.7 Lpa']

In [59]:
msal_tags=driver.find_elements_by_xpath('//p[@class="range caption-subdued-medium"]')
msal_tags

[<selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="6b6c2a35-d12d-4ac9-82da-8a4dfa1e6aac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="3a942110-a2a9-46b4-b98d-ed2dc272f76a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="c760ce8b-1e73-4744-9c2e-2c1d9ac92611")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="7c65bf86-b08a-4be1-b02f-198f96b44708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="66ef8c85-a824-49b1-8db6-bb9f333dddb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="a36930d2-189e-48cc-a813-1d28d0b87481")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="4ec80efa-0f2a-4e31-bbc4-c52a995122c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="8c69d92f-4577-4620-a4d0-d39f5efa32e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="f79d98fc-0bdf-47f1-8dc0-8ffab581d43a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ad342aff05817f6a1a67519bb58747fe", element="a511344b-cef0-40fc-8a1d-eaf64236c272")>]

In [60]:
salaries= []
for i in msal_tags:
    salaries.append(i.text)
salaries1= []
for i in range(0, 10):
    salaries1.append(salaries[i])
salaries1

['(10.4 - 40) Lpa',
 '(13 - 45) Lpa',
 '(12 - 30) Lpa',
 '(12.5 - 32) Lpa',
 '(7.5 - 31) Lpa',
 '(12 - 30) Lpa',
 '(12 - 26) Lpa',
 '(8 - 43) Lpa',
 '(10.1 - 32.5) Lpa',
 '(12 - 30) Lpa']

In [61]:
len(company_names1),len(experience1),len(sal_record1),len(avg_sal1),len(salaries1)

(10, 10, 10, 10, 10)

In [62]:
companies= pd.DataFrame()
companies['Company Names']= company_names1
companies['Experience']= experience1
companies['Salary Record']= sal_record1
companies['Avg Sal']= avg_sal1
companies['Min&Max Sal']=salaries1
companies

,Company Names,Experience,Salary Record,Avg Sal,Min&Max Sal
0,Google,1 yr exp,26.6 Lpa\n(10.4 - 40) Lpa,26.6 Lpa,(10.4 - 40) Lpa
1,Microsoft Corporation,1-4 yrs exp,23.3 Lpa\n(13 - 45) Lpa,23.3 Lpa,(13 - 45) Lpa
2,Goldman Sachs,2 yrs exp,21.2 Lpa\n(12 - 30) Lpa,21.2 Lpa,(12 - 30) Lpa
3,Tekion,3-4 yrs exp,21.1 Lpa\n(12.5 - 32) Lpa,21.1 Lpa,(12.5 - 32) Lpa
4,Flipkart,1-4 yrs exp,21.1 Lpa\n(7.5 - 31) Lpa,21.1 Lpa,(7.5 - 31) Lpa
5,PayPal,1-2 yrs exp,20.1 Lpa\n(12 - 30) Lpa,20.1 Lpa,(12 - 30) Lpa
6,Servicenow Software Development India,2-4 yrs exp,19.6 Lpa\n(12 - 26) Lpa,19.6 Lpa,(12 - 26) Lpa
7,Amazon,1-4 yrs exp,19.4 Lpa\n(8 - 43) Lpa,19.4 Lpa,(8 - 43) Lpa
8,Walmart,1-4 yrs exp,19.1 Lpa\n(10.1 - 32.5) Lpa,19.1 Lpa,(10.1 - 32.5) Lpa
9,Arcesium,1-2 yrs exp,18.7 Lpa\n(12 - 30) Lpa,18.7 Lpa,(12 - 30) Lpa